// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
				"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.custom-marker {
	background-color: #e31515;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 2px solid white;
	cursor: pointer;
}

#flagra {
	width: auto;
	height: 80px;
}

.popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.popup-content {
	text-align: center;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
}


.right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: right;
}

.button {
	background-color: #574B8B;
	color: white;
	border-radius: 10px;
	border: 0;
}


